body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.accordion {
  max-width: 800px; /* Increase the maximum width of the accordion */
  margin: 40px auto; /* Increase the margin for the accordion */
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 30px; /* Increase the margin between accordion items */
  overflow: hidden; /* To hide the overflowing content */
  transition: max-height 0.3s ease-out; /* Smooth animation */
  max-height: 150px; /* Initial height of the header */
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 20px; /* Increase the padding for the accordion header */
  cursor: pointer;
  user-select: none;
  display: flex; /* Use flexbox for the header layout */
  align-items: center; /* Align items to the center */
}

.accordion-header img {
  height: 50px; /* Increase the height of the image in the header */
  margin-right: 20px; /* Add some space between the image and header text */
}

.accordion-header-content {
  flex: 1; /* Take the remaining space for header text and button */
}

.accordion-header button {
  display: block; /* Display the button as a block element */
  margin-top: 10px; /* Add space between the header text and the button */
}

.accordion-content {
  padding: 20px; /* Increase the padding for the accordion content */
}

.accordion-item.active {
  max-height: 400px; /* Height of the header when content is expanded */
  transition: max-height 0.3s ease-in-out; /* Smooth animation for expanding */
}
